@model IEnumerable<MovieBooking.Models.Screen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmins.cshtml";
}

<h2>Quản Lý Màn Chiếu</h2>

<div class="mb-3">
    <a href="@Url.Action("Create", "Screena")" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Thêm Màn Chiếu
    </a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.screen_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_seats)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.screen_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_seats)
            </td>
            <td class="text-center">
                <a href="@Url.Action("Edit", "Screens", new { id = item.screen_id })" class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil-square"></i> Sửa
                </a>
                <a href="@Url.Action("Details", "Screens", new { id = item.screen_id })" class="btn btn-info btn-sm">
                    <i class="bi bi-info-circle"></i> Chi tiết
                </a>
                <a href="@Url.Action("Delete", "Screens", new { id = item.screen_id })" class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i> Xóa
                </a>
            </td>
        </tr>
    }

</table>
