@model IEnumerable<MovieBooking.Models.Screen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmins.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.screen_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_seats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.screen_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_seats)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.screen_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.screen_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.screen_id })
        </td>
    </tr>
}

</table>
