@model MovieBooking.Models.Movie

@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comments</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.release_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.release_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_url)
        </dd>

    </dl>
</div>

<div class="movie-details">
    <h2>@Model.title</h2>
    <p>@Model.description</p>
</div>

<div class="comments-section">
    <h3>Bình luận</h3>
    <div id="comments-list">
        <!-- Danh sách bình luận sẽ hiển thị ở đây -->
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="add-comment">
            <textarea id="comment-input" placeholder="Nhập bình luận của bạn..." class="form-control"></textarea>
            <button id="submit-comment" class="btn btn-primary">Bình luận</button>
        </div>
    }
    else
    {
        <p><a href="/Account/Login">Đăng nhập</a> để bình luận.</p>
    }
</div>

<script>
    $(document).ready(function () {
        var movieId = @Model.movie_id;

        // Load danh sách bình luận
        function loadComments() {
            $.get('/Movies/Comments?movieId=' + movie_id, function (data) {
                var commentsHtml = '';
                data.forEach(comment => {
                    commentsHtml += `
                        <div class="comment">
                            <strong>${comment.Username}</strong>
                            <p>${comment.Comment}</p>
                            <small>${new Date(comment.CommentDate).toLocaleString()}</small>
                        </div>`;
                });
                $('#comments-list').html(commentsHtml);
            });
        }

        loadComments();

        // Thêm bình luận
        $('#submit-comment').click(function () {
            var comment = $('#comment-input').val();
            if (comment.trim() === '') {
                alert('Vui lòng nhập nội dung bình luận.');
                return;
            }

            $.post('/Movies/AddComment', { movie_id: movie_id, comment: comment }, function (response) {
                if (response.success) {
                    $('#comment-input').val('');
                    loadComments();
                } else {
                    alert(response.message);
                }
            }).fail(function (xhr) {
                alert(xhr.responseText);
            });
        });
    });
</script>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.movie_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

