@model MovieBooking.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmins.cshtml";
}

<h2>Chi tiết</h2>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            Tên phim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Thời lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            Thể loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre)
        </dd>

        <dt>
            Ngày ra mắt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.release_date)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.movie_id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
