@model MovieBooking.Models.Booking_Details

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmins.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Booking_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.booking_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.booking_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat.seat_row)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat.seat_row)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.booking_detail_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
