@model IEnumerable<MovieBooking.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmins.cshtml";

}
    
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_number)
        </td>
        <td class="text-center">
            <a href="@Url.Action("Edit", "Users", new { id = item.user_id })" class="btn btn-warning btn-sm">
                <i class="bi bi-pencil-square"></i> Sửa
            </a>
            <a href="@Url.Action("Details", "Users", new { id = item.user_id })" class="btn btn-info btn-sm">
                <i class="bi bi-info-circle"></i> Chi tiết
            </a>
            <a href="@Url.Action("Delete", "Users", new { id = item.user_id })" class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i> Xóa
            </a>
        </td>
    </tr>
}

</table>
