@model MovieBooking.Models.Showtime

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmins.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Showtime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movy.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movy.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Screen.screen_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screen.screen_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.showtime_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
